body{
    background-color: #202020;
}
h1{
    background-color: #fff;
    color: #000;
}
ul{
    margin-left: 2%;
}
li{
    size: 10px;
    font-size: 30px;
}li a{
    text-decoration: none;
    color: #fff;
}
li a :hover{
    background-color: #fff;
    color: #000;
}
.nome{
    text-decoration: underline;
    font-size: 20px;
    margin-left: 1%;
    color: #fff;
}